
body {
    display: flex;
    box-sizing: inherit;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-bottom: 90px;
    margin-top: 60px;
    background-color: rgb(243, 243, 243);
}

html {
    position: relative;
}

/*----------------- FONTS ----------------- */

@font-face {
    font-family: Petrov Sans Bold;
    src: url("./fonts/PetrovSans-Bold.ttf");
}

@font-face {
    font-family: Louis George;
    src: url("./fonts/LouisGeorgeCafeBold.ttf");
}

/*----------------- FONTS ----------------- */


/* ----------------- NAV ------------- */
nav {
    display: flex;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: Petrov Sans Bold;
    background-color: rgb(243, 243, 243);
}

nav a {
    text-decoration: none;
    position: relative;
    color: rgb(19, 19, 19);
    font-size: 18px !important;
}

nav a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height: 1px;
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.9);
    transition: width .4s ease-in;
}

nav a:hover::before {
    width: 100%
}

/* ----------------- NAV ------------- */


/* ----------------- HEADER ------------- */

header {
    display: flex;
    width: 100vw;
    margin-bottom: 2em;
    font-family: Louis George;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: rgb(31, 31, 31);
    line-height: 29px;
}

header p {
    font-size: 18px;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid rgb(31, 31, 31);
    padding: 15px;
    margin-bottom: 2em;
}

header h1 {
    font-size: 50px;
    margin-bottom: 4px;
    margin-top: 2em;
}

header h2 {
    font-size: 25px;
    margin-bottom: 2em;
    text-align: center;
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-bottom: 30px;
}

header h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

header p a {
    color: rgb(31, 31, 31);
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

header p a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height: 1px;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.9);
    transition: width .4s ease-in;
}

header p a:hover::before {
    width: 100%
}

.space-between {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

/* ----------------- HEADER ------------- */


/* ----------------- FOOTER --------------- */

footer {
    display: flex;
    width: 100vw;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: Petrov Sans Bold;
    background-color: rgb(243, 243, 243);
}

footer a {
    text-decoration: none;
    position: relative;
    color: rgb(19, 19, 19);
    font-size: 18px !important;
}

footer a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.9);
    transition: width .4s ease-in;
}

footer a:hover::before {
    width: 100%;
}

/* ----------------- FOOTER --------------- */
